{% extends 'base.html.twig' %}

{% block body %}
	<section id="header" class="pl-5">
		<div class="row intro m-0">
			<div class="col-12">
				<div id="typed-strings">
					<p>programmer</p>
					<p>PHP lover</p>
					<p>Symfony fan</p>
					<p>problem solver</p>
					<p>cyclist</p>
					<p>gamer</p>
					<p>cinephilia</p>
					<p>web developer</p>
					<p>app developer</p>
				</div>
				<span class="hi">Hi</span>
				I am Duncan the
				<span id="typed"></span>
			</div>
		</div>
		<div class="row m-0">
			<div class="col-8">
				<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
	</section>
	{% include 'parts/timeline.twig' %}
{% endblock %}