<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Duncan
			{% endblock %}
		</title>
		<link href="https://fonts.googleapis.com/css?family=Carter+One|Roboto&display=swap" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="wrapper d-flex align-items-stretch">
			{% include 'parts/sidebar.twig' %}
			<div id="content" class="container-fluid">
				<button type="button" id="sidebarCollapse" class="btn btn-primary d-lg-none">
					<i class="fa fa-bars"></i>
					<span class="sr-only">Toggle Menu</span>
				</button>

				{% block body %}{% endblock %}

				{% include 'parts/footer.twig' %}
			</div>
		</div>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
