<section id="github" class="pl-5 pb-5">
	<h1>{{ 'My code'|trans }}</h1>
    <p>
        {{ 'A little sneak peek of what I am up to'|trans }}.
    </p>
    <img src="https://ghchart.rshah.org/1F97A0/duncan412" alt="2016rshah's Blue Github Chart" />
</section>
