<div class="timeline">
  <div class="tl-container left">
    <div class="content">
      <h2>2016 - {{ 'present'|trans }}</h2>
      <p>{{ '' }}</p>
    </div>
  </div>
  <div class="tl-container right">
    <div class="content">
      <h2>2016</h2>
      <p>Lorem ipsum..</p>
    </div>
  </div>
</div>